@model SaveNote.Models.Info.PageableData<SaveNote.Model.YouTubeLinks>

@{
    ViewBag.Title = "Видео";
    Layout = "~/Areas/Default/Views/Shared/BookmarksLayout.cshtml";
}

<div class="ui stackable grid two column">
    <div class="one wide column">
        <div class="ui secondary vertical icon inverted menu">
            <a class="item"  id="AddVideo" data-toggle="#AddModalYT">
                <i class="big add circle icon"></i>
            </a>
            <a class="item" id="infoIcon">
                <i class="big info circle icon"></i>
            </a>
        </div>
    </div>
    <div class="fifteen wide column">
        <div class="ui relaxed stackable grid">
            <div class="three column row">
                @{
                    int counter = 0;
            
                    foreach (var note in Model.List.Reverse())
                    {
                        if (note.UserID == ViewBag.ID)
                        {
                            int id = note.ID;
                            
                            <div class="column">
                                <div class="image videos">
                                    <iframe width="400" height="220" src="@note.YTUrl" class="@id" id="VideoID" frameborder="0" allowfullscreen></iframe>
                                    <a class="DelYTLink" id="@note.ID" data-toggle="#DelModalYT"><i class="right floated big remove icon"></i></a>
                                    <a class="InfoYTLink" id="@id" data-content="@note.Description" data-title="@note.Name"><i class="right floated big info circle icon"></i></a>
                                </div>
                            </div>
                            counter++;
                            if (counter%3 == 0)
                            {
                                <div class="ui relaxed grid">
                                    <div class="four column row">
                                        <div class="column"></div>
                                        <div class="column"></div>
                                        <div class="column"></div>
                                        <div class="column"></div>
                                    </div>
                                    <div class="four column row">
                                        <div class="column"></div>
                                        <div class="column"></div>
                                        <div class="column"></div>
                                        <div class="column"></div>
                                    </div>
                                    <div class="four column row">
                                        <div class="column"></div>
                                        <div class="column"></div>
                                        <div class="column"></div>
                                        <div class="column"></div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="ui bottom fixed borderless inverted menu">
    @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("Index", new {page = x}))
</div>

@Html.Partial("Add", new SaveNote.Models.ViewModels.VideoView())

<div class="ui basic modal" id="DelModalYT">
    <div class="header">
        <h2 class="ui center aligned icon header">
            <i class="big trash outline icon"></i>
            Удалить?
        </h2>
    </div>
    <div class="content">
        <div class="description">
            Вы уверены, что хотите выполнить это действие?
        </div>
    </div>
    <div class="actions">
        <input type="submit" value="Удалить" class="ui ok inverted red submit basic button" name="enterButton"/>
        <div class="ui inverted green button">Отмена</div>
    </div>
</div>

<div class="ui basic modal" id="EmptyModalYT">
    <div class="header">
        <h2 class="ui center aligned icon header">
            <i class="big warning icon"></i>            
        </h2>
    </div>
    <div class="content">
        <div class="description">
            Вы не выбрали ролик для удаления!
        </div>
    </div>
    <div class="actions">
        <div class="ui inverted green button">Отмена</div>
    </div>
</div>
